extends layout

block content
  .container
    h2= title
    .map-container(style="height: 600px;")
      #map(style="width: 100%; height: 100%;")

  script.
    document.addEventListener('DOMContentLoaded', function() {
      var map = L.map('map').setView([41.15612, 1.10687], 15); // Coordenadas iniciales (Reus)

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var stores = !{JSON.stringify(stores)};
      stores.forEach(function(store) {
        L.marker([store.latitude, store.longitude]).addTo(map)
          .bindPopup('<b>' + store.name + '</b><br>Valoración: ' + store.rating);
      });
    });
