extends layout  

include mixins/_storeCard 
include mixins/_pagination

block content     
    .container         
        h2= title         
        .stores             
            each store in stores                 
                +storeCard(store, user) 
        +pagination(page, pages, count)